@import url("https://fonts.googleapis.com/css?family=Trirong");


/* reset css */
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(226,226,226);

}

ul {
    margin-left: 11px;
}

nav {
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 90px;
    background: #fff;
    overflow: hidden;
    transition: 1s;
}

nav:hover {
    width: 280px;
    transition: 1s;
}

.logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 8.5px;
    padding-bottom: 3rem;
}

.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span {
    color: blue;
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: -10px;
}

a {
    position: relative;
    width: 280px;
    font-size: 14px;
    color: rgb(85,83,83);
    display: table;
    padding: 10px;
    
}

nav .icon-nav {
    position: relative;
    width: 70px;
    height: 40px;
    top: 5px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: -9px;
    margin-left: 10x;

}

.nav-item-admin {
    position: relative;
    top: 22px;
    margin-left: 10x;
}

a:hover {
    background: #eee;
}

a:hover i {
    color: #34AF6D;
    transition: 0.5s;
}

.logout {
    position: absolute;
    bottom: 0;
}

/* MAIN Section */
.main {
    position: relative;
    padding: 20px;
    width: 100%;
}

.main-top {
    display: flex;
    width: 100%;
}

.main-top .person-outline {
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(110, 109, 109);
    cursor: pointer;
}